In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [58]:
Iris = pd.read_csv("Iris.csv")

In [59]:
Iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [60]:
Iris.shape

(150, 6)

In [61]:
Iris.drop(columns = "Id")

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [62]:
Iris["Species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [73]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [74]:
x = Iris.iloc[:,1:5]
y = Iris.iloc[:,-1]

In [75]:
X_train , X_test , y_train , y_test = train_test_split(x , y ,test_size = 0.2)

In [76]:
X_train.shape , y_train.shape

((120, 4), (120,))

In [77]:
X_test.shape , y_test.shape

((30, 4), (30,))

In [78]:
classifier = GaussianNB()

In [79]:
classifier.fit(X_train , y_train)

GaussianNB()

In [80]:
y_pred = classifier.predict(X_test)

In [81]:
classifier.score(X_test , y_test)

0.9333333333333333

In [82]:
classifier.score(X_train , y_train)

0.95